@import 'variables.css';



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--main-color);
    text-align: center;
}

h1{
    font-size: 30px;
    padding: 20px;
}

a{
    text-decoration: none;
}



nav {
    padding: 10px;
    background-color: #1199C2;
}

nav ul{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
}

nav ul li:hover, header a h1:hover{
    transform: scale(1.05);
    transition: all 0.2s;
}

nav a{
    padding: 2px 30px;
    color: black;
}
header a h1{
    color: black;
}
main{
    padding-bottom: 5rem;
}

main img{
    width: 200px;
    height: 200px;
}


[team] img {
    border-radius: 50%;
}

[team] div {
	position: relative;
}
[team] div::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
[team] div:hover::before {
	-webkit-animation: shine 1s;
	animation: shine 1s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

[team] {
    margin: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


[brief], [solution]{
   width: 70%;
   margin: auto;
}
[brief] h2{
    text-align: center;
    margin: 2rem;

}
[brief] img{
    width: 100%;
    height: 100%;
}
[Solution]{
    margin-bottom: 5rem;
}
button{
    outline: none;
}

footer{
    width: 100%;
    height: 110px;
    position: fixed;
    bottom: 0;
    background-color: #454545;
    color: white;
    border-top: #262626 5px solid;
    border-bottom: #262626 5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer a{
    color: white;
}
footer a:hover{
    color: grey;
    transition: 0.2s;
}

.borderFooter{
    width: 100%;
    height: 5px;
    background-color: #262626;
}


/* ----------------------- PAGE CONTACT -------------------- */
[contact-us] {
    text-align: center;
}

[contact-us] form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

[contact-us] input {
    padding: 5px;
}

[contact-us] button{
    margin-top: 10px;
    border: none;
    border-radius: 50px;
    height: 30px;
    background-color: deeppink;
    font-size: 15px;
    color: white;
    transition: 0.5s;
}

[contact-us] button:hover{
    box-shadow: 5px 5px 10px black;
    transform: scale(1.2);
    transition: 0.3s;
}

[contact-us] button:active{
    box-shadow: none;
    transform: scale(1);
    transition: 0.1s;
}