@import 'variables.css';



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--main-color);
    text-align: center;
}

h1{
    font-size: 30px;
    padding: 20px;
}

a{
    text-decoration: none;
}

nav {
    padding: 10px;
    background-color: #1199C2;
}

nav ul{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
}

nav ul li:hover{
    transform: scale(1.05);
    transition: all 0.2s;
}

nav a{
    padding: 2px 30px;
    color: black;
}

main img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

[team] {
    margin: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer{
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0;
    background-color: #454545;
    color: white;
    border-top: #262626 5px solid;
    border-bottom: #262626 5px solid;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
footer a{
    color: white;
}
footer a:hover{
    color: grey;
    transition: 0.2s;
}
