@import 'variables.css';



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--main-color);
    text-align: center;
}

h1{
    font-size: 30px;
    padding: 20px;
}

a{
    text-decoration: none;
}

nav {
    padding: 10px;
    background-color: #1199C2;
}

nav ul{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    border-left: 1px solid var(--secondary-color);
    border-right: 1px solid var(--secondary-color);
}

nav ul li:hover{
    transform: scale(1.05);
    transition: all 0.2s;
}

nav a{
    padding: 2px 30px;
    color: black;
}

main img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

[team] {
    margin: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer{
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0;
    background-color: #454545;
    color: white;
    border-top: #262626 5px solid;
    border-bottom: #262626 5px solid;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
footer a{
    color: white;
}
footer a:hover{
    color: grey;
    transition: 0.2s;
}

/* ---- POPUP ---- */
.popupContainer {
    display: none; 
    height: 100%;
    width: 100%;
    position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;

    justify-content: center;
}

#popupCard {
    width: 70%;
    height: fit-content;
    margin: 5%;
    padding: 10px;
    position: relative;

    background-color: white;
    border: 5px solid var(--main-color);
    border-radius: 10px;

    display: flex;
        flex-flow: column nowrap;
        align-items: center;
}

.closeCross {
    height: 30px;
    width: 30px;
    position: absolute;
        top: 10px;
        right: 10px;

    border-radius: 5px;
    cursor: pointer;

    background-image: url('../img/close_cross.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    background-color: var(--secondary-color);
}

.closeCross:hover {
    transform: scale(1.1);
    animation: transform 0.5s;
}

.closeCross:active {
    transform: scale(0.9);
    background-color: rgb(128, 23, 23);
    animation: all 0.5s;
}

.popupContainer h2, .popupContainer p {
    margin-top: 10px;
}

/* Animations */

.zoomIn {
    animation-duration: .8s;
    transform-origin: center 15%;
    animation-name: zoom;
    animation-direction: normal;
}
.zoomOut {
    animation-duration: 0.5s;
    transform-origin: center 15%;
    animation-name: zoom;
    animation-direction: reverse;
}
@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}