<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <title>Team Devlab CTF</title>
    </head>
    <body>
        <header>
            <a href="../index.html"><h1>Equipe Devlab Capture The Flag</h1></a>  
            <nav>
                <ul>
                    <li><a href="../index.html">Accueil</a></li>
                    <li><a href="project.html">Notre projet</a></li>
                </ul>
            </nav>
        </header>
        <main contact-us>
            <h1>Envie de nous contacter ?</h1>
            <h2>↓↓ Remplissez ce formulaire ! ↓↓</h2>
            <form action="mailto:contact@ctf-devlab.fr" method="POST" name="Email" enctype="text/plain">
                <br>
                <label for="mail">Email</label>
                <input type="text" name="mail" id="mail">
                <br>
                <label for="msg">Message :</label>
                <textarea name="msg" id="msg" cols="30" rows="10"></textarea>
                <button>Envoyer !</button>
            </form>
        </main>
    </body>
</html>