<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Team Devlab CTF</title>
</head>

<body>
    <header>
        <h1>Equipe Devlab Capture The Flag</h1>
        <nav>
            <ul>
                <li><a href="views/project.html">Notre projet</a></li>
                <li><a href="views/contact.html">Nous contacter</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">

            <section brief>
                <h2>Brief </h2>
                <p>
                    Création d'un site type "Capture The Flag" (site volontairement fait avec des failles en vu d'être
                    hacké sous forme de jeu) (référence OWASP)
                </p>
                <img src="../img/wireframe_main_ouvert.png"
                    alt="visuel de ce que l'on compte mettre en place. une maquette">
            </section>
            <section solution>
                <h2>Solution</h2>
                <p>Nous comptons faire un site
                    n va faire un site narratif sur lequel on est représenté par le heros (1) qui nous guide (nous donne
                    des tips si on est en galère) pour faire un ctf (décomposé en chapitre).(2)

                    Le terminal sera pour le moment son outil principal (3)
                    La todo liste (4)
                    Le classement (5) permet de :
                    se comparer aux autres joueurs (si on a eu besoins de +/- de tips
                    (“acheter” des chapitres en fonction de si on est fort ou pas (et motivé))

                </p>
            </section>
        </div>
    </main>


    <footer>
        <div>Notre discord :</div>
        <a href="https://discord.gg/Xqy7J2">https://discord.gg/Xqy7J2</a>
        <div>Tout droit réservé.</div>
    </footer>
</body>

</html>